.social-buttons__wrapper {
  display: inline-block;
  outline: 1px solid red;
  height: 500px;
  width: 500px;
}

.social-buttons__item {
  margin: 12px;
  width: 48px;
  height: 48px;
  transition: fill 0.3s;
}

.social-buttons__item:hover {
  fill: blue;
}

#fb-icon {
  width: 32px;
}
