.social-buttons__wrapper {
  position: absolute;
  top: 250px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  /* outline: 1px solid red; */
  /* height: 500px; */
  /* width: 500px; */
}

.social-buttons__item {
  margin: 4px;
  width: 20px;
  height: 20px;
  transition: fill 0.3s;
  fill: var(--icons-color);
}

.social-buttons__item:hover {
  fill: var(--icons-color-hover);
}

#fb-icon {
  width: 32px;
}
